*{
    margin: 0;
    padding: 0;
}
.banner{
    width: 100%;
    height: 13.33rem;
    background-image: url("/public/images/back.jpg");
    background-size:118%;
    background-position:-40px 1px;
    background-repeat :no-repeat;
}
.z{
    float: left;
    font-family: "楷体";
    color: white;
    position:absolute;
    left: 2.36rem;
    top: 3rem;
    font-size: 65px;
}
.zn{
    width: 1.5rem;
    height: 0.03rem;
    background-color: white;
    float: left;
    transform:rotate(-100deg);
    position:absolute;
    left: 2.5rem;
    top: 4.4rem;
}
.n{
    float: left;
    color: white;
    position:absolute;
    left: 3.2rem;
    top: 4.4rem;
    font-size: 65px;
    font-family: "楷体";
}
.bxx{
    float: left;
    width: 0.5rem;
    height: 1.5rem;
    font-size: 35px;
    color: white;
    position:absolute;
    left: 2.56rem;
    top: 5.4rem;
    font-family: "仿宋";
}
.aqg{
    float: left;
    width: 0.5rem;
    height: 1.5rem;
    font-size: 20px;
    color: white;
    position:absolute;
    left: 3.56rem;
    top: 5.8rem;
    line-height:19px;
    font-family: "仿宋";
}