*{
    margin: 0;
    padding:0;
}
#tou{
    width: 7.5rem;
    height: 0.93rem;
    background-color: black;
}
img{
    width: 0.23rem;
    height: 0.35rem;
    font-size: 0.37rem;
    float: left;
    margin-top: 0.3rem;
    margin-left: 0.22rem;
}
span{
    color: #ffffff; 
    font-size: 0.34rem;
    float: left;
    margin-left: 2.97rem;
    line-height: 0.93rem;

}
#Body2 {
    width: 7.5rem;
    height: 11rem;
    background-color: rgb(255, 255, 255);
  }
  #Body2 .Tell {
    width: 6.95rem;
    height: 1rem;
    border-bottom: 1px solid black;
    margin: 0 auto;
    margin-top: 0.6rem;
    box-sizing: border-box;
  }
  #Body2 .Tell label {
    float: left;
    font-size: 0.3rem;
    margin-top: 0.46rem;
    margin-left: 0.02rem;
  }
  #Body2 .Tell input {
    float: left;
    border: 0px;
    width: 5.3rem;
    height: 0.6rem;
    margin-left: 0.9rem;
    margin-top: 0.3rem;
    font-size: 0.33rem;
  }
  #Body2 .Captcha {
    width: 6.95rem;
    height: 1rem;
    border-bottom: 1px solid black;
    margin: 0 auto;
    box-sizing: border-box;
  }
  #Body2 .Captcha label {
    float: left;
    font-size: 0.3rem;
    margin-top: 0.46rem;
    margin-left: 0.02rem;
  }
  #Body2 .Captcha .i1 {
    float: left;
    border: 0px;
    width: 3.2rem;
    height: 0.6rem;
    margin-left: 0.6rem;
    margin-top: 0.3rem;
    font-size: 0.33rem;
  }
  #Body2 .Captcha .btn {
    float: left;
    color: #0395ff;
    border: 0px;
    background-color: #fff;
    font-size: 0.31rem;
    margin-top: 0.3rem;
    width: 2.2rem;
    height: 0.6rem;
  }
  #Body2 .Password {
    width: 6.95rem;
    height: 1rem;
    border-bottom: 1px solid black;
    margin: 0 auto;
    box-sizing: border-box;
  }
  #Body2 .Password label {
    float: left;
    font-size: 0.3rem;
    margin-top: 0.46rem;
    margin-left: 0.02rem;
  }
  #Body2 .Password input {
    float: left;
    border: 0px;
    width: 5.3rem;
    height: 0.6rem;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
    font-size: 0.33rem;
  }
  #Body2 .Register {
    width: 6.94rem;
    height: 0.88rem;
    background-color: #0091fe;
    margin-top: 0.58rem;
    margin-left: 0.26rem;
    border-radius: 2%;
    color: #fff;
    font-size: 0.33rem;
    line-height: 0.88rem;
    text-align: center;
  }
  .a{
    text-decoration: none;
  }