<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/add.css">
    {% block style %}
    {% endblock %}
</head>

<body>
    {% block content %}
    <div class="box">
        <div class="header">
            <span>添加保险箱</span>
        </div>
        <div class="footer">
            <img class="tp" src="/public/images/applogo.png" alt="11">
            <span class="tjbxx">{{tjbxx}}</span>
            <span class="sys">{{sys}}</span>
            <a href="/homepage"><span class="tz">{{word}}</span></a>
        </div>
    </div>
    {% endblock %}

    {% block js %}
    <script src="/public/js/fontsizeset.js"></script>
    {% endblock %}
</body>

</html>