<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="2;URL=/login">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/banner.css">
</head>
<body id="ban">

    <div class="banner">
        <span class="z">{{z}}</span>
        <div class="zn"></div>
        <span class="n">{{n}}</span>
        <span class="bxx">{{bxx}}</span>
        <span class="aqg">{{aqg}}</span>
    </div>
    <script src="/public/js/fontsizeset.js"></script>
</body>
</html>