{% extends "layout.html" %}
{% block style %}
<link rel="stylesheet" href="/public/css/openingrecord.css">
{% endblock %}

{% block content %}
<div id="Header">
    <a href="/homepage"><img src="/public/images/back.png" alt></a>
    <p class="word_head">米克保险箱</p>
</div>
<div id="Body">
    <div class="Opendoor">
        <ul>
            <li>
                <img src="/public/images/Open.jpg" alt>
                <span class="door">
                    {{door}}
                    <br>
                    <span class="time">{{time}}</span>
                </span>
                <span class="address">{{address}}</span>
            </li>
            <li>
                <img src="/public/images/Open.jpg" alt>
                <span class="door">
                    {{door}}
                    <br>
                    <span class="time">{{time}}</span>
                </span>
                <span class="address">{{address}}</span>
            </li>
            <li>
                <img src="/public/images/Open.jpg" alt>
                <span class="door">
                    {{door}}
                    <br>
                    <span class="time">{{time}}</span>
                </span>
                <span class="address">{{address}}</span>
            </li>
            <li>
                <img src="/public/images/Open.jpg" alt>
                <span class="door">
                    {{door}}
                    <br>
                    <span class="time">{{time}}</span>
                </span>
                <span class="address">{{address}}</span>
            </li>
            <li>
                <img src="/public/images/Open.jpg" alt>
                <span class="door">
                    {{door}}
                    <br>
                    <span class="time">{{time}}</span>
                </span>
                <span class="address">{{address}}</span>
            </li>
            <li>
                <img src="/public/images/Open.jpg" alt>
                <span class="door">
                    {{door}}
                    <br>
                    <span class="time">{{time}}</span>
                </span>
                <span class="address">{{address}}</span>
            </li>
            <li>
                <img src="/public/images/Open.jpg" alt>
                <span class="door">
                    {{door}}
                    <br>
                    <span class="time">{{time}}</span>
                </span>
                <span class="address">{{address}}</span>
            </li>
        </ul>
    </div>
</div>
</div>
{% endblock %}

{% block js %}
<script src="/public/js/fontsizeset.js"></script>
{% endblock %}